Schemas/gettax-response-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>  
    Copyright &#xA9; 2000-2015 Manhattan Associates, Inc. All Rights Reserved.
    Confidential, Proprietary and Trade Secrets Notice 
    Use of this software is governed by a license agreement. This software contains confidential, 
    proprietary and trade secret information of Manhattan Associates, Inc. and is protected under 
    United States and international copyright and other intellectual property laws. Use, disclosure, 
    reproduction, modification, distribution, or storage in a retrieval system in any form or by 
    any means is prohibited without the prior express written permission of Manhattan Associates, Inc.
 
    Manhattan Associates, Inc. 
    2300 Windy Ridge Parkway, 10th Floor
    Atlanta, GA 30339 USA
</xs:documentation>
	</xs:annotation>
	<xs:element name="tXML">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Company" nillable="true" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Message">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Response">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SubTotal" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="13"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TotalTax" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="13"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Total" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:totalDigits value="13"/>
													<xs:fractionDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LineItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Item" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ProductClass" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OUOM" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Quantity" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="13"/>
																<xs:fractionDigits value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="UnitPrice" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="13"/>
																<xs:fractionDigits value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ExtendedPrice" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="13"/>
																<xs:fractionDigits value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Tax" nillable="false" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="DECIMAL112-Required">
																	<xs:attribute name="taxResult" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="taxName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="50"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="jurisdictionName" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="50"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="taxRate" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="13"/>
																				<xs:fractionDigits value="4"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="taxableAmount" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:totalDigits value="11"/>
																				<xs:fractionDigits value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="taxCategory" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="100"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="taxType" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="TotalTax" nillable="true" minOccurs="0">
														<xs:simpleType>
															<xs:union>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="13"/>
																		<xs:fractionDigits value="4"/>
																	</xs:restriction>
																</xs:simpleType>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value=""/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:union>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShipTo" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="StreetAddress1" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="75"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StreetAddress2" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="75"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StreetAddress3" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="75"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="City" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="State" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="County" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PostalCode" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Country" nillable="true" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ShipFrom" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="StreetAddress1" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="75"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StreetAddress2" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="75"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StreetAddress3" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="75"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="City" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="State" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="County" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PostalCode" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Country" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LineCharges" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LineCharge" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ChargeCategory" nillable="true" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="ShippingAndHandling"/>
																						<xs:enumeration value="Shipping"/>
																						<xs:enumeration value="Refund SnH"/>
																						<xs:enumeration value="Label Handling"/>
																						<xs:enumeration value="Return Charges"/>
																						<xs:enumeration value="Restocking Fee"/>
																						<xs:enumeration value="Misc"/>
																						<xs:enumeration value=""/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ChargeName" nillable="true" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ChargeAmount" nillable="true" minOccurs="0">
																				<xs:simpleType>
																					<xs:union>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:totalDigits value="13"/>
																								<xs:fractionDigits value="4"/>
																							</xs:restriction>
																						</xs:simpleType>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value=""/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:union>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Tax" nillable="false" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="DECIMAL112-Required">
																							<xs:attribute name="taxResult" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="30"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="taxName" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="50"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="jurisdictionName" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="50"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="taxRate" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:decimal">
																										<xs:totalDigits value="13"/>
																										<xs:fractionDigits value="4"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="taxableAmount" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:decimal">
																										<xs:totalDigits value="11"/>
																										<xs:fractionDigits value="2"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="taxCategory" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="100"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="taxType" use="required">
																								<xs:simpleType>
																									<xs:restriction base="xs:string">
																										<xs:maxLength value="30"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="TotalTax" nillable="true" minOccurs="0">
																				<xs:simpleType>
																					<xs:union>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:totalDigits value="13"/>
																								<xs:fractionDigits value="4"/>
																							</xs:restriction>
																						</xs:simpleType>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:enumeration value=""/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:union>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="ChargeID" use="optional ">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="100"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="LineItemNumber" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="22"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="OrderLineDate" type="NonRequiredStringDateTime" use="optional"/>
												<xs:attribute name="OrderlLineModifiedDate" type="NonRequiredStringDateTime" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="RequestType" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="QUOTATION"/>
												<xs:enumeration value="INVOICE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="OrderNumber" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="InvoiceNumber" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="OrderDate" type="StringDate" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DECIMAL112-Required">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="11"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9] [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9] [0-2]?[0-9]:[0-5][0-9]"/>
			<!-- (M)M/(d)d/(yy)yy (h)h:mm TZN-->
			<!-- (d)d/(M)M/(yy)yy (h)h:mm TZN-->
			<!-- (d)d.(M)M.(yy)yy (h)h:mm TZN-->
			<!-- (yy)yy-(M)M-(d)d (h)h:mm TZN-->
			<!-- (M)M/(d)d/(yy)yy (h)h:mm -->
			<!-- (d)d/(M)M/(yy)yy (h)h:mm -->
			<!-- (d)d.(M)M.(yy)yy (h)h:mm -->
			<!-- (yy)yy-(M)M-(d)d (h)h:mm -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9]"/>
			<!-- (M)M/(d)d/(yy)yy -->
			<!-- (d)d/(M)M/(yy)yy -->
			<!-- (d)d.(M)M.(yy)yy -->
			<!-- (yy)yy-(M)M-(d)d -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2]?[0-9]:[0-5][0-9]"/>
			<!-- (h)h:mm -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonRequiredStringDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9] [0-2]?[0-9]:[0-5][0-9] [a-zA-Z][a-zA-Z][a-zA-Z]"/>
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2} [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9] [0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value=""/>
			<!-- (M)M/(d)d/(yy)yy (h)h:mm TZN -->
			<!-- (d)d/(M)M/(yy)yy (h)h:mm TZN -->
			<!-- (d)d.(M)M.(yy)yy (h)h:mm TZN -->
			<!-- (yy)yy-(M)M-(d)d (h)h:mm TZN -->
			<!-- (M)M/(d)d/(yy)yy (h)h:mm -->
			<!-- (d)d/(M)M/(yy)yy (h)h:mm -->
			<!-- (d)d.(M)M.(yy)yy (h)h:mm -->
			<!-- (yy)yy-(M)M-(d)d (h)h:mm -->
			<!-- null -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonRequiredStringDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9][/][0-3]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][/][0-1]?[0-9][/]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="[0-3]?[0-9][.][0-1]?[0-9][.]([0-9][0-9])?[0-9]{2}"/>
			<xs:pattern value="([0-9][0-9])?[0-9]{2}[\-][0-1]?[0-9][\-][0-3]?[0-9]"/>
			<xs:pattern value=""/>
			<!-- (M)M/(d)d/(yy)yy -->
			<!-- (d)d/(M)M/(yy)yy -->
			<!-- (d)d.(M)M.(yy)yy -->
			<!-- (yy)yy-(M)M-(d)d -->
			<!-- null -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonRequiredStringTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2]?[0-9]:[0-5][0-9]"/>
			<xs:pattern value=""/>
			<!-- (h)h:mm -->
			<!-- null -->
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
